<!-- templates/reviews/add_subject.html -->
{% extends "base.html" %}

{% load static %} <!--Carga los archivos estáticos-->

{% block extra_css %}
<link rel="stylesheet" href="{% static 'global/crear_review.css' %}">
{% endblock %}

{% block content %}
<h2>Agregar Materia</h2>
<form method="post">
    {% csrf_token %}
    {{ form.nombre.label_tag }} {{ form.nombre }}  <!-- Campo de nombre de la materia -->
    
    <h3>Select Professors:</h3>
    {{ form.profesores }}  <!-- Campo de selección múltiple para profesores -->

    <button type="submit">Agregar Materia</button>
</form>
{% endblock %}