<!-- templates/reviews/login.html --> <!--Plantilla para el formulario de login-->
{% extends "base.html" %} <!--Hereda de la plantilla base.html-->

{% block content %}
<h2>Login</h2>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {% if request.GET.next %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
    {% else %}
        <input type="hidden" name="next" value="{% url 'home' %}">
    {% endif %}
    
    <label for="username">Usuario:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Login</button>
</form>
{% endblock %}
