<!-- templates/base.html -->
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wikiprofes{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'global/base.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Barra de navegación -->
    <nav>
        <div class="nav-right">
            <a href="{% url 'home' %}">Inicio</a>
            <a href="{% url 'lista_profesores' %}">Profesores</a>
            <a href="{% url 'lista_materias' %}">Materias</a>
            {% if user.is_authenticated %}
                <a href="{% url 'crear_review' %}">Crear Reseña</a>
                {% if user.is_staff %}
                    <a href="{% url 'agregar_materia' %}">Agregar Materia</a>
                    <a href="{% url 'agregar_profesor' %}">Agregar Profesor</a>
                {% endif %}
                <form method="post" action="{% url 'logout' %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
                <div class="user-info">
                    <!-- Ícono de usuario y nombre -->
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    <span class="username">{{ user.username }}</span>
                </div>
            {% else %}
                <a href="{% url 'registro' %}">Registro</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </nav>
    
    <!-- Contenido dinámico -->
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
